body {
    background-color: black;
}

h1 {
    color: rgb(0, 102, 0);
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
}

quote {
    color: rgb(0, 102, 0);
    font-family: monospace;
    font-size: 20px;
}

div {
    color: rgb(0, 102, 0);
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    list-style-position: inside;
}

h2 {
    color: rgb(0, 102, 0);
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
}

menu {
    color: rgb(0, 102, 0);
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

credits {
    color: rgb(0, 102, 0);
    text-align: center;
}