<!DOCTYPE html>
<html lang="en" ng-app="ToDo">

<title>Ilum1n4ti T0d0 L1st </title>

<head>
    <meta charset="UTF-8" />
    <style>
        .done {
            text-decoration: line-through;
            color: darkred
        }
    </style>

    <script src="js/angular.min.js"></script>

    <script src="js/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="js/app.js"></script>


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/components.css">
</head>

<body>
    <h1>Ilum1n4ti T0d0 L1st</h1>
    <br>
    <div ng-controller="todoController">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{completedPerCent()}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( completedPerCent() + '%' ) }">
                <span ng-show="completedPerCent() > 0">Progress({{completedPerCent()}}%)</span>
            </div>
        </div>
        <form name="frm" ng-submit="addTodo()">
            <input type="text" name="newtodo" ng-model="newTodo" required />
            <button ng-disabled="frm.$invalid">Go</button>
        </form>
        <br>
        <button ng-click="clearCompleted()"> Clear Completed </button>
        <button ng-click="clearAll()"> Clear All </button>
        <ul>
            <br>
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done" />
                <span ng-class="{'done' :todo.done}">{{todo.title}}</span>
            </li>

        </ul>
    </div>
    <br>
    <h2> M3nu </h2>
    <menu>
        <changecolor>
            Change Color:
            <input type="button" onClick="changeColor('white')" value="White" />
            <input type="button" onClick="changeColor('rgb(0, 0, 77)')" value="Darkblue" />
            <input type="button" onClick="changeColor('')" value="Reset Color" />
        </changecolor>
        <br>
        <br> Contact:
        <input type="button" value="GitHub" onclick="window.open('https://github.com/RonaldoMPF')" />
    </menu>
    <credits>Made by Ronaldo Medeiros for Information Systems I UFCG</credits>
</body>

</html>